body{
    background:rgb(88, 82, 82);
    color: white;
  
}
#imgs{
    background: url(../imgs/1.jpg);
    width: 300px;
    height: 250px;
    transform: rotate(90deg);
    box-shadow: 1px 1px 1px rgba(190, 45, 45, 0.25);
}
#aaa{
    background:rgb(88, 82, 82);
    color: white;
}